extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 My Portfolio 

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Welcome to my portfolio! Here you'll find a showcase of my web development projects, ranging from sleek and modern websites to powerful web applications. As a skilled Full-stack JavaScript developer, I'm passionate about creating responsive, user-friendly, and high-quality solutions that help businesses achieve their goals. Please take a look around and don't hesitate to reach out if you have any questions or would like to discuss a potential collaboration.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      each project in projects  
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text
        .cell
          a(href= `/project/${project.id}`)
           img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail ${project.project_name}`)
           h5= project.project_name 
          