extends layout.pug

block content

  article.portfolio-intro

    
    h1 My Portfolio 

    
    p Welcome to my portfolio! Here you'll find a showcase of my web development projects, ranging from sleek and modern websites to powerful web applications. As a skilled Full-stack JavaScript developer, I'm passionate about creating responsive, user-friendly, and high-quality solutions that help businesses achieve their goals. Please take a look around and don't hesitate to reach out if you have any questions or would like to discuss a potential collaboration.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects        
        .cell
          a(href= `/project/${project.id}`)
           img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail ${project.project_name}`)
           h5= project.project_name 
          