<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='https://placehold.it/550x350', alt='')
        .dev-intro-box

          //- Replace with your name
          h5 Fahim Xec 

          //- Replace with description of who you are, what you do, and why you are so awesome
          p Hi there! I'm a Full-stack JavaScript developer with a passion for creating responsive, high-converting, and user-friendly websites that help businesses achieve their goals. With my expertise in front-end technologies such as HTML, CSS, and JavaScript, and my proficiency in back-end technologies such as Node.js, Express, Bootstrap, and Pug, I can design and develop powerful web applications that provide an exceptional user experience. I take pride in my ability to translate complex business requirements into innovative and intuitive solutions that align with your goals and meet your users' needs. If you're looking for a dedicated and experienced web developer who can help you take your online presence to the next level, let's connect and explore how we can work together!

          //- Add path from your '/about' route handler to the href below
          a(href='./about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Name

      block content

  script(src='/static/js/script.js')